{
  "presets": [
    "env", "babili"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false,
    }]
  ],
  "env": {
    "prod": {
      "presets": []
    }
  }
}
