{
  "presets": [
    "env"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false,
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["minify", {
          "mangle": {
            "keepClassName": false
          }
        }]
      ]
    }
  }
}
